<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEp8MCnKop0VCatxW48suqOtrNjKGtmDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>617871639657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kacha</string>
	<key>PROJECT_ID</key>
	<string>kacha-ff418</string>
	<key>STORAGE_BUCKET</key>
	<string>kacha-ff418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617871639657:ios:4ef129066a2a00c8c74ef8</string>
</dict>
</plist>